PORT=3000

BOOTSTRAP_PRIMARY=https://gw.bothook.me
BOOTSTRAP_FALLBACK=https://bootstrap.a2a.fun

RUNTIME_MODE=formal
ENABLE_FORMAL_OUTBOUND=false
ALLOW_TEST_STUB_OUTBOUND=false
FORMAL_OUTBOUND_URL=

NODE_NAME=a2a-node-1
